* {
  margin: 0;
}

body {
  text-align: center;
}

.main-header {
  border-bottom: 1px solid gray;
  padding: 20px;
  background-color: rgb(208, 252, 237);
}

.confi-menu {
  margin: 30px 20px;
  width: 20%;
  background-color: rgb(208, 252, 237);
  padding: 40px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px;
  float: right;
}

.button {
  background-color: darkgray;
  border-style: none;
  padding: 5px;
  margin: 10px;
  border: 1px solid gray;
  display: block;
}

.button:active {
  background-color: rgb(94, 94, 94);
}

.add {
  margin-top: 20px;
  padding: 10px;
}

.text-content {
  text-align: left;
  line-height: 25px;
  margin-left: 10px;
  width: 70%;
  margin-top: 30px;
  border: 2px solid gray;
  padding-bottom: 90px;
  background-color: rgb(247, 234, 210);
}

.text-section-title {
  margin: 20px;
  text-align: center;
}

.paragraph {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.td-square{
  padding: 15px;

}