.super-mario {
  width: 200px;
  position: absolute;
  z-index: 5;
  left: 100px;
  top: 100px;

}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  top: 420px;
  left: 150px;
}

.baloon {
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 300px;

}

.speach {
  font-size: 25px;
  position: absolute;
  left: 320px;
  z-index: 4;
  top: 280px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 3;
  left: 600px;
  top: 380px;
}